<html>
  <head>
    <title>Halva</title>
    <meta content='width=device-width, initial-scale=1.0, user-scalable=1' name='viewport' />
    <style>
      body {
        margin: 0;
        text-align: center;
        background-color: 0;
        color:  #ccc;
      }

      p {
        margin: 10px 0;
      }

      form {
        width:  100%;
        margin: 0;
      }

      button {
        width:  128px;
        height: 64px;
        margin: 16px;
        border: 0;
        color:  #ccc;
        background-color: #555;
      }
    </style>
  </head>
  <body>
    {% if messages.length %}
      <ul>
      {% for message in messages %}
        <li>{{ message.text }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <form action="/toggle" method="POST">
      {% for door in doors %}
        <button name="toggle" value="{{door.name}}" type="submit">{{ door.name }} ({{ door.status }})</button>
      {% endfor %}
    </form>
    {% if from_lan %}
      <img width="100%" style="-webkit-user-select: none" src="/video.mpjpeg">
      <p>Last heartbeat: <span id="heartbeat">starting</span> ms</p>
      <!--
        Process uptime: {{ uptime }}
        Memory usage:
  {{ memory|safe }}
      -->
      <script>
        function handleBeat(time) {
          var el = document.getElementById('heartbeat');
          el.innerHTML = time;
        }
        function heartbeat() {
          var start   = Date.now();
          var url     = '/heartbeat?ts=' + start;
          var xhr     = new XMLHttpRequest();
          var sleep   = 1000;
          var timeout = sleep;
          xhr.open('GET', url, true);
          xhr.timeout = timeout;
          xhr.addEventListener("load", function() {
            var elapsed = Date.now() - start;
            handleBeat(elapsed);
            setTimeout(heartbeat, sleep);
          });
          xhr.addEventListener("error", function() {
            handleBeat('error');
            setTimeout(heartbeat, sleep);
          });
          xhr.addEventListener("timeout", function() {
            handleBeat('timeout after ' + timeout);
            setTimeout(heartbeat, 0);
          });
          xhr.send();
        }
        heartbeat();
      </script>
    {% else %}
      <script>
        function refreshImage() {
          document.garage_view.src = '/recent_image.jpg?ts=' + Date.now();
        }
      </script>
      <img width="100%" name="garage_view" style="-webkit-user-select: none" src="/recent_image.jpg" onclick="refreshImage()">
    {% endif %}
  </body>
</html>
